.font {
    font-family: 'Oswald', sans-serif;
}

@media all and (max-device-width: 1400px) {
    .h-title{font-size: 2.9em;}
}

@media all and (max-device-width: 310px) {
    .h-title{font-size: 14vw;}
}

@media all and (max-device-width: 230px) {
    .h-title{font-size: 10vw;}
}

.h-title {
    font-weight: 700;
    line-height: 95%;
    word-spacing: normal;
}

.arrow {
    cursor: pointer;
    margin-left: 0.3em;
    font-size: 0.75em;
    text-decoration: none;
}

.img-crop {
    clip-path: inset(21px 0px 19px 0px);
}
